<!DOCTYPE html>
<html lang="en">
  <head>
      <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.tiny.cloud/1/k4t1cofo1ajccl0csaav8l266oqd3yx6snlp06x2bnhdczc1/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
      tinymce.init({
        selector: '#id_content'
      });
    </script>

  </head>

  <body>
  <h1>TinyMCE Quick Start Guide</h1>
    <form method="post">
      <textarea id="id_content">Hello, World!</textarea>
    </form>
  </body>
</html>
